.rbc-calendar {
  height: auto; /* fixe la hauteur globale */
}

/* Week header */
.rbc-header {
  color: #004d55;
  font-family: 'Montserrat';
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 24px 0;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 1rem;

  letter-spacing: 0.5px;
}
.rbc-event-content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 767px) {
  .rbc-event-content {
    font-size: 14px;
  }
}

.rbc-row-content {
  position: relative;
  height: 8.5rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .rbc-row-content {
    height: 6rem;
  }
}

/* Month header */
.rbc-toolbar {
  display: flex;
  flex-direction: row-reverse;

  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;

  padding: 1rem;
  border-bottom: solid 1px hsl(var(--border));
}

@media (max-width: 767px) {
  .rbc-toolbar {
    flex-direction: column-reverse; /* Change flex direction to column-reverse */
  }
}
.rbc-toolbar .rbc-toolbar-label {
  margin-bottom: 12px;
  flex-grow: 1;
  text-transform: capitalize;
  text-align: left;
  color: #004d55;
  font-weight: 400;
  font-family: 'Montserrat';
  font-size: x-large;
}

.rbc-day-bg {
  flex: 1 0 0%;
  background: transparent;
  border: 1px solid #e2e8f0;
  border-radius: 8px; /* arrondi plus léger */
  transition: background 0.2s;
  margin: 0.2rem;
  cursor: pointer;
}

.rbc-event,
.rbc-slot-selection {
  background-color: #0967c6;

  color: white;
  padding: 0.4rem;
  margin: 0 0.2rem;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .rbc-event,
  .rbc-slot-selection {
    padding: 0.2rem;
    margin: 0 0.2rem;
  }
}

.rbc-event.rbc-selected {
  background-color: rgb(0, 76, 255) 176;
}

.rbc-event:hover {
  background-color: #0b4176;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}

.rbc-month-view {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 1.2rem 1.2rem;
}

@media (max-width: 767px) {
  .rbc-month-view {
    padding: 0.4rem 0.4rem;
  }
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid hsl(var(--border));
}

.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-toolbar button {
  background: #3b82f6;
  color: #fff;
  border: none;
  height: 38px;
  padding: 4px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.rbc-btn-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 767px) {
  .rbc-btn-group {
    padding: 2px 8px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .rbc-toolbar button {
    padding: 2px 6px;
    font-size: 16px;
  }
}

.rbc-toolbar button:hover:first-child {
  background: #45e8e5;
}

.rbc-toolbar button:first-child {
  background: #56fcff;
  color: #004d55;
  font-weight: 400;
}

.rbc-toolbar button:hover:not(:first-child) {
  background: #004d55;
  color: white;
}

.rbc-toolbar button:not(:first-child) {
  background: white;
  color: #004d55;
  border-color: #004d55;
  border-style: solid;
  border-width: 1px;
  font-weight: 400;
}

.rbc-row-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}
.rbc-row {
  display: flex;
  flex-direction: row;
}

.rbc-day-bg:hover {
  background: rgba(186, 230, 253, 0.5);
}

.rbc-date-cell {
  flex: 1 1 0;
  padding: 2px 4px;
  text-align: left;
  color: #004d55;
}

@media (max-width: 767px) {
  .rbc-date-cell {
    padding: 0; /* Change flex direction to column-reverse */
  }
}
@media (max-width: 767px) {
  .rbc-date-cell button {
    margin: 0.6rem;
    margin-bottom: 0.1rem; /* Change flex direction to column-reverse */
  }
}

.rbc-date-cell.rbc-now {
  font-weight: bold;
  color: red;
}
.rbc-button-link {
  font-weight: 600;
  margin: 0.8rem;
}
