.rbc-row-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Week header */
.rbc-header {
  background: #f3f4f6;
  color: #22223b;
  overflow: hidden;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px 0;
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  font-size: 1rem;
  min-height: 0;
  border-bottom: 1px solid #e2e8f0;
  border-right: 1px solid #e2e8f0;
  letter-spacing: 0.5px;
}

.rbc-row-content {
  position: relative;
}

/* Month header */
.rbc-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;

  padding: 0 0.25rem 0 0.25rem;
  border-bottom: solid 1px hsl(var(--border));
  margin-bottom: 0;
}
.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  text-align: center;
  font-weight: 700;
}

.rbc-event,
.rbc-slot-selection {
  background-color: green;
  z-index: 9999;
  color: white;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
}

.rbc-event.rbc-selected {
  background-color: blue;
  z-index: 9999;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}
.rbc-row-segment {
  padding: 0 1px 1px 1px;
}

.rbc-month-view {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  height: 100%;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
}

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
}
.rbc-date-cell.rbc-now {
  font-weight: bold;
  color: red;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid hsl(var(--border));
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}

.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-toolbar button {
  background: #3b82f6;
  color: #fff;
  border: none;
  height: 38px;
  padding: 4px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.rbc-btn-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.rbc-toolbar button:hover {
  background: #2563eb;
  color: #fff;
}

.rbc-day-bg {
  cursor: pointer;
  padding: 1rem;
  flex: 1 0 0%;
  background: #f8fafc;
  border-right: 1px solid #e2e8f0;
  border-left: 1px solid #e2e8f0;
  transition: background 0.2s;
}
.rbc-day-bg:hover {
  background: #bae6fd;
}

.rbc-event:hover {
  background-color: orange;
}
