.rbc-row-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Week header */
.rbc-header {
  overflow: hidden;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3px 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  min-height: 0;
  border-bottom: 1px solid hsl(var(--border));
  border-right: 1px solid hsl(var(--border));
}

.rbc-row-content {
  position: relative;
}

/* Month header */
.rbc-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;

  padding: 0 0.25rem 0 0.25rem;
  border-bottom: solid 1px hsl(var(--border));
  margin-bottom: 0;
}
.rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  text-align: center;
  font-weight: 700;
}

.rbc-event,
.rbc-slot-selection {
  background-color: green;
  color: white;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
}

.rbc-event.rbc-selected {
  background-color: blue;
}

.rbc-row {
  display: flex;
  flex-direction: row;
}
.rbc-row-segment {
  padding: 0 1px 1px 1px;
}

.rbc-month-view {
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  width: 100%;
  user-select: none;
  height: 100%;
}

.rbc-month-row {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 0;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
}

.rbc-date-cell {
  flex: 1 1 0;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
}
.rbc-date-cell.rbc-now {
  font-weight: bold;
  color: red;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid hsl(var(--border));
}

.rbc-row-bg {
  display: flex;
  flex-direction: row;
  flex: 1 0 0;
  overflow: hidden;
}
.rbc-day-bg {
  flex: 1 0 0%;
}

.rbc-overlay > * + * {
  margin-top: 1px;
}

.rbc-toolbar button {
  background-color: grey;
  border: none;
  height: 40px;
  padding: 8px 16px;
  border-radius: var(--radius);
  cursor: pointer;
  transition: none;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.rbc-toolbar button:hover {
  background-color: yellow;
  color: violet;
}

.rbc-day-bg {
  background-color: hsl(var(--background));
  border-right: 1px solid hsl(var(--border));
}

.rbc-event:hover {
  background-color: orange;
}
